<head>
    <title>Capstone Project</title>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
              <img src="../public/images/home-credit-logo.jpg" width="100" height="60" alt="">
            </a>
            <span class="navbar-text">
                <b>Welcome to Capstone Project
                (Credit Card Scorecard) !</b>
            </span>
        </nav>

        <div class="alert alert-primary" role="alert">
            Just by inputing your <b>new mobile phone number</b> and <b>income</b>, we will process your homecredit credit card application !
        </div>
        <!-- Full Page Image Header with Vertically Centered Content -->
        <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Your New Mobile Phone Number</label>
                                <input type="form-control" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Your New Income</label>
                                <input type="form-control" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- <div class="col-sm">
                        #Credit Card ga ribet
                    </div> -->

                  </div>


                
            </div>
            </div>
        </div>
        </header>
        <footer>
            <div class="text-center" 
                style="font-size: 10px;
                        color: gray;
                        margin-top: -50px;">
                <p>© PT.Homecredit Indonesia<br>
                Joshua Effendi - Herdis Haerusalam - Mike Bratanata</p>
            </div>
        </footer>
  

    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

